<form method="post" action="/add_class">
	Class name: <input type="text" name="name"><br>
	Teacher: <input type="text" name="teacher"><br>
	Spring or Fall? <input type="text" name="semester"><br>
	Year: <input type="text" name="year"><br>

	<input type="submit" value="Submit">
</form>