  <h5>Classes</h5>
  <table>
  <tr><td>Class Name</td><td>Year</td><td>Term</td></tr>
  <% @klasses.each do |klass| %>
  <tr><td>klass.name</td><td><a href="/class/<%= klass.id %>">
  	<%= klass.year %></td<td>
  <%= klass.spring_or_fall %></a></td</tr>
  <% end %>
  </table>